<%= @user.name %>, <%= @user.email %>, <%= @user.created_at %>, <%= @user.updated_at %>, <%= Time.now %>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %> <%# フォロワーの統計情報 (リスト14.23) %>
    </section>
  </aside>
  <%# リスト 13.24 %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %> <%# フォロー/フォロー解除フォーム (リスト14.23) %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %> <%# _micropost.html.erbを読み込み %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>